.device-frame {
    margin: 35% auto;
    background-color: rgb(168, 168, 168);
    max-height: 50.5rem;
    width: 25.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

@media(max-width: 767px) {
    .device-frame {
        margin: 90% auto;
    }
}


